%font-inter
  font-family: 'Inter', sans-serif

%font-calistoga
  font-family: 'Calistoga', sans-serif

%font-bold
  font-variation-settings: "wght" 700

%font-semibold
  font-variation-settings: "wght" 600

%overline
  @extend %font-inter
  @extend  %font-bold
  font-size: 11px
  line-height: 12px

%body-md
  @extend %font-inter
  font-size: 14px
  line-height: 20px

%body-lg
  @extend %font-inter
  font-size: 16px
  line-height: 24px

%body-xl
  @extend %font-inter
  font-size: 18px
  line-height: 28px

%card-title-small
  @extend %font-calistoga
  font-size: 11px
  line-height: 16px

%card-title-medium
  @extend %font-calistoga
  font-size: 16px
  line-height: 24px

%title-2
  @extend %font-inter
  @extend %font-bold
  font-size: 18px
  line-height: 28px

%title-1
  @extend %font-inter
  @extend %font-bold
  font-size: 22px
  line-height: 32px

%notion-caption
  @extend %font-inter
  font-size: 14px
  line-height: 22px

%notion-callout
  @extend %font-inter
  @extend %font-semibold
  font-size: 16px
  line-height: 24px

%notion-body
  @extend %font-inter
  font-size: 16px
  line-height: 26px

%notion-h3
  @extend %font-inter
  @extend %font-bold
  font-size: 18px
  line-height: 28px

%notion-h2
  @extend %font-inter
  @extend %font-bold
  font-size: 20px
  line-height: 30px

%notion-h1
  @extend %font-calistoga
  font-size: 24px
  line-height: 32px
