@use '../../styles/colors'
@use '../../styles/typography'

body
  background-color: black

.post-content
  &__title
    @extend %notion-h1
    @extend %font-calistoga
  &__created-date
    @extend %notion-caption
    color: colors.$color-text-tertiary

@media (width >= 48rem)
  .md\:scrollbar-default
    scrollbar-width: thin
