@use '../../styles/colors'
@use '../../styles/typography'

.post-card
  &__container
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3)
    &--sm
      width: 156px
      height: auto
      padding: 4px
      border-radius: 4px
      & .post-card__level
        height: 18px
        top: -9px
        padding: 1px 3px
        span
          font-size: 8px
      & .post-card__title
        font-size: 11px
        line-height: 10px

  &__content
    border-color: colors.$color-divider

  &__level
    border-color: colors.$color-divider

  &__title
    @extend %card-title-small
