<div
  *ngIf="!!post"
  (click)="goToPostDetail()"
  class="post-card__container h-full p-[4px] bg-white rounded-[6px]"
  [class.md:w-max-[192px]]="!small"
  [class.rotate-[4deg]]="rotate"
  [class.post-card__container--sm]="small"
>
  <div class="post-card__content w-full h-full border-[0.5px] rounded-[2px]">
    @defer {
    <img
      [ngSrc]="`${config.cdnUrl}${post.cover}`"
      width="300"
      height="300"
      [alt]="post.title"
      class="w-full"
      [class.h-[137px]]="small"
      [class.min-h-[152px]]="!small"
      priority
    />
    } @placeholder {
    <div role="status" class="flex items-center justify-center w-full h-[152px] bg-gray-300 animate-pulse">
      <svg
        class="w-10 h-10 text-gray-200"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 18"
      >
        <path
          d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
        />
      </svg>
    </div>
    }

    <div
      class="pt-[16px] pb-[8px] px-[8px] relative flex items-center justify-center"
      [class.h-[56px]]="!small"
      [class.h-[54px]]="small"
    >
      <div
        *ngIf="post.level"
        class="post-card__level bg-white inline-flex items-center justify-center h-[24px] absolute top-[-12px] left-[50%] translate-x-[-50%] px-[8px] py-[2px] border-[0.58px] rounded-full"
      >
        <span *ngFor="let num of [].constructor(post.level.length); let i = index" class="text-[12px]">
          {{post.level.icon}}
        </span>
        <span *ngFor="let num of [].constructor(3 - post.level.length); let i = index" class="text-[12px] opacity-30">
          {{post.level.icon}}
        </span>
      </div>
      <h4 class="post-card__title text-[12px]/[10px] md:text-[14px]/[18px] text-center line-clamp-2">{{post.title}}</h4>
    </div>
  </div>
</div>
