@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'Calistoga';
  src: url('../fonts/Calistoga/Calistoga-Regular.ttf');
}

@font-face {
  font-family: 'Oi';
  src: url('../fonts/Oi/Oi-Regular.ttf');
}

body {
  @apply font-uxcomic-inter;
}

b {
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.display-1 {
  @apply font-uxcomic-oi text-uxcomic-display-1;
}

.title-1 {
  @apply font-uxcomic-inter text-uxcomic-display-1;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.title-2 {
  @apply font-uxcomic-inter text-lg;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.card-title-medium {
  @apply font-uxcomic-calistoga text-base;
}

.card-title-small {
  @apply font-uxcomic-calistoga text-uxcomic-card-title-small;
}

.body-xl {
  @apply font-uxcomic-inter text-lg;
}

.body-lg {
  @apply font-uxcomic-inter text-base;
}

.body-md {
  @apply font-uxcomic-inter text-sm;
}

.overline {
  @apply font-uxcomic-inter text-uxcomic-overline uppercase;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.caption {
  @apply font-uxcomic-inter text-xs text-uxcomic-text-tertiary mb-2;
}

.caption.mb-4 {
  margin-bottom: 1rem;
}

/** NOTION STYLES */
.notion-h1 {
  @apply font-uxcomic-calistoga text-uxcomic-notion-h1;
}

.notion-h2 {
  @apply font-uxcomic-inter text-uxcomic-notion-h2 pt-4 pb-2;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.notion-h3 {
  @apply font-uxcomic-inter text-lg pt-4 pb-2;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.notion-body {
  @apply font-uxcomic-inter text-uxcomic-notion-body py-2;
}

.notion-divider {
  @apply w-full min-h-[1px] h-[1px] bg-uxcomic-divider my-4;
}

.notion-callout {
  @apply py-2;
}

.notion-callout p:last-child {
  margin-bottom: 0;
}

.notion-callout .notion-body,
.notion-callout .notion-bulleted,
.notion-callout .notion-numbered {
  @apply p-0;
}

.notion-link {
  @apply underline;
}

/** GRID MODE STYLES */
.uxcomic-grid-bg::before {
  @apply w-full h-40 fixed bottom-0 z-[-1] bg-gradient-to-t from-uxcomic-bg from-25% to-transparent;
  content: '';
}

/** FLASH CARD STYLES */
.deck {
  @apply absolute w-4/5 h-4/5 will-change-transform;
}

.deck .uxcomic-card {
  @apply w-full h-full bg-white bg-[length:auto_85%] bg-[center_center] bg-no-repeat will-change-transform rounded-xl shadow-[0px_2px_6px_2px_rgba(0,0,0,0.15),0px_1px_2px_0px_rgba(50,50,73,0.3)];
}

.relevant-item .uxcomic-card {
  @apply mx-2;
}

.relevant-item .uxcomic-card:first-child {
  @apply ml-4;
}

.relevant-item .uxcomic-card:last-child {
  @apply mr-4;
}

/** UTILITIES */
.utility-sticky {
  position: -webkit-sticky;
  @apply sticky;
}

.ultility-truncate {
  display: -webkit-box; /* Sử dụng box layout linh hoạt */
  -webkit-box-orient: vertical; /* Thiết lập hướng là dọc */
  overflow: hidden; /* Ẩn nội dung thừa */
  text-overflow: ellipsis; /* Thêm dấu "..." cho nội dung bị ẩn */
  -webkit-line-clamp: 2; /* Giới hạn số dòng là 2 */
  line-height: 1.5; /* Khoảng cách dòng, điều chỉnh phù hợp */
  max-height: calc(
    1.5em * 2
  ); /* Tính toán chiều cao tối đa dựa trên line-height */
}

.ultility-break-words {
  word-break: break-word;
}

.font-variation-semibold {
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
