@use '../../styles/colors'
@use '../../styles/typography'

.posts-section
  &__post-container
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3)

  &__post-content
    border-color: colors.$color-divider
    &-level-container
      border-color: colors.$color-divider
    &-title
      @extend %card-title-small
