@use "normalize.css/normalize.css"
@use "tailwindcss"
@use "tailwind-scrollbar-hide/v4"
@use "./app/styles/colors"
@use "./app/styles/typography"
@use "flowbite/src/themes/default"
@plugin "flowbite/plugin"
@source "../node_modules/flowbite"

html
  overscroll-behavior: contain

body
  color: colors.$color-text-primary

main
  background-color: colors.$color-bg

.ux
  &-font-bold
    @extend %font-bold
  &-font-semibold
    @extend %font-semibold

.notion-video__player
  .youtube-player-placeholder, iframe
    width: 100% !important

div[class='bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-30']
  backdrop-filter: blur(4px)
